MONGO_URI=mongodb+srv://Fantasy_Loot_Generator_User:magic123@cluster0.t4if3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
PORT=3001
API_HEADER='qwertyasdfgzxcvb'
API_KEY='eaa2de90-688f-4cbf-99cd-c30f837b3be4'
